<div class = "container">
</br>
<%= form_tag shops_path , :method => :get ,:class=>"form-inline" do %>

<div class= "form-group">
<%= select_tag :r_type , options_for_select([['美式餐廳','burgers'], ['咖啡廳','cafes'], ['義式餐廳','italian']]) ,:prompt => "選擇餐廳類型",:class => "form-control"%>


<%= collection_select :mrt,:mrt_id, Mrt.all, :id, :name,  {:prompt => "選擇捷運站"} ,{:class =>"form-control" }%>

<%= submit_tag "搜尋" , :class => "btn btn-success"%>

<% end %>
</div>
</div>
</br>
<div class="container">
<table class= "table">
	<% @shops.businesses.each do |s| %>
	<tr>
		<% if s.respond_to?(:image_url) %>
  		<td><%= image_tag s.image_url %></td>
		<% end %>
		<td><%= s.name %></td>
		<td><%= s.location.address.join("")%></td>
		<% if s.respond_to?(:display_phone) %>
			<td><%= s.display_phone %></td>
		<%end %>
		<td><%= s.rating %></td>
		<td><%= s.distance.to_i %>公尺</td>

	</tr>

	<% end %>


</table>
</div>